body {
	margin:0;
	padding:0;
	background-color: black;
	color: white;
}
.topbg {
	
	background-image: url("../photos/bg2.jpg");
	
	background-repeat: no-repeat;
	border:0px;
	width:2500px;
	height:402px;
	
}
.home {
	width: 180px;
	height: 50px;
	margin-left: 48px;
	margin-top: -60px;
	font-size: 44px;	
	display: block;
	float: left;

}
.home a {
	 color: white;
	 text-decoration: none;
}
.home a:hover {
	text-decoration-color: green;
}
.cast {
	width: 110px;
	height: 50px;
	margin-left: 285px;
	margin-top: -60px;
	font-size: 44px;	
	float: left;
	display: block;
}
.cast a {
	 color: white;
	 text-decoration: none;
}
.netflix {
	width: 150px;
	height: 50px;
	margin-left: 1650px;
	background-color: #b50303;
	margin-top: -65px;
	font-size: 44px;	
	border: 3px solid black;
	text-align:center;
	border-radius: 15px;
	border-color: white;
}
.netflix a {
	 color: white;
	 text-decoration: none;
}

.paragraf1 {
	margin: auto;
	width: 1000px;
	padding : 10px;
	font-size: 25px;
}
.paragraf2 {
	margin: auto;
	width: 1000px;
	padding : 10px;
	font-size: 25px;
}
.paragraf3 {
	margin: auto;
	width: 1000px;
	padding : 10px;
	font-size: 25px;
}
.date {
	margin-left: 45px;
	color: #53804c; 
	font-size: 25px;
}
.star {
	margin-left:55px;
	font-size: 25px;
    margin-top: -15px;
}
.about {
	color: #53804c; 
	margin-left: 50px;
	

}
.starring {
	font-size: 35px;
	
}
.haiz {
	height: 259px;
    float: left;
    margin-left: 205px;
	padding-bottom: 70px;
}
.paul {
	height: 259px;
    float: left;
    margin-left: 205px;
	padding-bottom: 70px;
}
.zzveli_axjik {
	height: 259px;
    float: left;
    margin-left: 205px;
	padding-bottom: 70px;
}
.pic {
	
	float:left;
}
.pic_text {
	width: 720px;
    height: 255px;
    float: left;
	margin-left: 15px;
	font-size: 25px;
	color: white;
	padding-right: 670px;
	
}
.seasons table,tr,th,td {
	border-collapse: collapse;
    border: 3px solid #53804c;
    border-radius: 15px;
    /* border-color: white; */
    text-align: center;
    font-size: 30px;
    list-style: none;
    width: 360px;
	
}
.seasons {
	padding-bottom:30px;
}
.list {
	font-size: 30px;
    margin-left: 1600px;
    color: white;
	
	
}

.test {
	position:relative;
}


